<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>AetherSDRDAX</string>
    <key>CFBundleIdentifier</key>
    <string>com.aethersdr.dax</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>AetherSDR DAX</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>AudioServerPlugIn_BundleResourceID</key>
    <string>com.aethersdr.dax</string>
    <key>CFPlugInFactories</key>
    <dict>
        <key>415B3B00-A202-4F38-8B5A-D9A1E2B7F001</key>
        <string>AetherSDRDAX_Create</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
        <array>
            <string>415B3B00-A202-4F38-8B5A-D9A1E2B7F001</string>
        </array>
    </dict>
</dict>
</plist>
